__pycache__/
*.py[cod]
.env
.venv/
instance/
.pytest_cache/
.ruff_cache/
*.sqlite
*.sqlite-journal
*.db
*.log
*.tar.gz
.coverage
htmlcov/
dist/
build/
pip-build-*/
pip-install-*/
pip-metadata-*/
pip-unpack-*/
pip-ephem-wheel-cache-*/
